<form (ngSubmit)="sendEmail()" #contactForm="ngForm"
    >

    <div class="input-boxes" style="display: flex;flex-direction: column;flex: 1;gap: 0.5rem;justify-content: flex-start;height: auto;">

        <input name="contact-input" [(ngModel)]="form.firstName" placeholder="First Name" required
            style="background-color: #F8F0E3; border-radius: 2.68em; border: 0px; font-family: 'Courier New', Courier, monospace;padding: 0.75rem;font-size: 1rem;" />
        <input name="contact-input" [(ngModel)]="form.lastName" placeholder="Last Name" required
            style="background-color: #F8F0E3; border-radius: 2.68em; border: 0px; font-family: 'Courier New', Courier, monospace;padding: 0.75rem;font-size: 1rem;" />
        <input name="contact-input" type="email" [(ngModel)]="form.email" placeholder="Email" required
            style="background-color: #F8F0E3; border-radius: 2.68em; border: 0px; font-family: 'Courier New', Courier, monospace;padding: 0.75rem;font-size: 1rem;" />
        <input name="contact-input" type="tel" [(ngModel)]="form.phone" placeholder="Phone Number"
            style="background-color: #F8F0E3; border-radius: 2.68em; border: 0px; font-family: 'Courier New', Courier, monospace;padding: 0.75rem;font-size: 1rem;" />
    
    </div>

    <div>
        <textarea name="message" [(ngModel)]="form.message" placeholder="Message" required style="resize: none;padding: 0.75rem;font-size: 1rem;font-family: 'Courier New', Courier, monospace; border-radius: 2.68em; background-color: #F8F0E3; border: 0;"></textarea>
    </div>

    <div style="display: flex; justify-content: center;">
    <button #submitBtn type="submit" style="border-radius: 2.68em;width: 60%;background-color: black;" (click)="submitBtn.style.backgroundColor = '#435f33'">Connect</button>
</div>
</form>