<nav>
  <a id="home-nav" (click)="setActive('home')" href="#home" [class.active]="activeSection === 'home'"><i
      class="fa fa-home"></i></a>
  <a id="work-nav" (click)="setActive('work')" href="#work" [class.active]="activeSection === 'work'"><i
      class="fa fa-briefcase"></i></a>
  <a id="projects-nav" (click)="setActive('projects')" href="#projects" [class.active]="activeSection === 'projects'"><i
      class="fa fa-code"></i></a>
  <a id="skills-nav" (click)="setActive('skills')" href="#skills" [class.active]="activeSection === 'skills'"><i
      class="fa fa-cog"></i></a>
  <a id="contact-nav" (click)="setActive('contact')" href="#contact" [class.active]="activeSection === 'contact'"><i
      class="far fa-envelope"></i></a>
</nav>

<div class="menu-section" [class.zoomed]="zoomed">
  <span>{{ getSectionName(activeSection) }}</span>
</div>

<div class="profile-container" [class.zoomed]="zoomed">
  <i class="theme-toggle-icon" [ngClass]="darkMode ? 'fa fa-bolt' : 'fa fa-moon '" (click)="toggleTheme()"></i>
  <img src="images/profile-photo.jpg" class="profile-photo" (click)="toggleZoom($event)" />
</div>

<div class='container'>
  <section id='home' class="light-theme">
    <div class="home-content">
      <h1 class="myname-home">Sanyam Shilpakar</h1>
      <h2>Software Engineer | UMass Amherst Aluimni</h2>
      <h4>I'm a Software Engineer at TCS working with CSX Transportation on safety-critical systems within the
        Engineering and Safety team.</h4>

      <hr class="home-divider" />

      <div class="home-links">
        <a href="https://docs.google.com/document/d/1DkZJ83UGq47HT6Dpn9H5eiHBzcFOoHN_tu9c5GvHId0/edit?usp=sharing" target="_blank" aria-label="Resume">
          <i class="fa fa-file"></i>
        </a>
        <a href="https://www.linkedin.com/in/sanyam-shilpakar-120849194/" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/tsanyamshilpakar" target="_blank" aria-label="Github">
          <i class="fa-brands fa-square-github"></i>
        </a>
      </div>
    </div>
  </section>

  <section id='work' class="light-theme">

    <div class="work-grid">
      <img src="images/csx.png" alt="Work 1" (click)="openModal(1)" class="work-img ">
      <img src="images/tcs.png" alt="Work 2" (click)="openModal(2)" class="work-img">
      <img src="images/umass.png" alt="Work 3" (click)="openModal(3)" class="work-img">


    </div>

    <!-- work page detail -->
    <div class="modal-backdrop" *ngIf="activeModal !== null && activeModal >= 1 && activeModal <= 3"
      (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div *ngIf="activeModal === 1" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">CSX Transportation</h1>
          <h4 style="color: #80b85d;">Software Engineer</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Enhanced backend functionality for enterprise-grade Java and .NET systems, reducing ticket resolution
              time by 25%.</li>
            <li>Support frontend in Java apps using JSP, ensuring seamless frontend integration and UI performance.</li>
            <li>Resolve fast paced database incidents and optimize SQL performance through query tuning and schema
              improvements.</li>
            <li>Collaborate with cross-functional teams to manage query depths and monitor server node endpoints for
              legacy app stability.</li>
            <li>Supported Positive Train Control (PTC) application that consumed real-time rail sensor data from Apache
              Kafka, ensuring reliable monitoring and secure communication; used Datadog to track application
              performance.</li>
            <li>Monitor application servers and manage deployments with IBM WebSphere, and automate builds with Apache
              Maven.</li>
            <li>Utilize SLF4J and Log4j to troubleshoot by analyzing integrated application logs.</li>
            <li>Automate build, test, and deployment pipelines with Jenkins and Kubernetes , ensuring continuous
              integration and deployment for Java applications.</li>
            <li>Manage version control with GitHub, using version snapshots and GitOps for safe deployments and
              infrastructure automation.</li>
          </ul>
        </div>
        <div *ngIf="activeModal === 2" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">Tata Consultancy Services </h1>
          <h4 style="color: #80b85d;">Software Engineer</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Engineered a full-stack banking portal using Node.js, Express, and Angular, integrating JWT-based
              authentication and RESTful API architecture.</li>
            <li>Built middleware with Angular HTTPClient to handle API requests and responses.</li>
            <li>Completed intensive onboarding on Java, MongoDB, Angular, and Node.js.</li>
          </ul>
        </div>
        <div *ngIf="activeModal === 3" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;"> Hazen Lab </h1>
          <h4 style="color: #80b85d;">Lab Assistant</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Manipulated, merged, overlapped and performed data wrangling on big plant genomic data using dplyr,
              tidyr
              and DT packages in R </li>
            <li>Built an interactive Shiny app dashboard using ggplot2 to visualize and analyze large-scale plant
              genomic
              datasets.</li>
            <li>Used Bioconductor to perform statistical and graphical analysis of high-throughput plant genomic data
            </li>
            <li>Sequenced and Visualized genetics variation between different species of plants using DESeq and
              heatmaps.
            </li>
          </ul>
        </div>


      </div>
    </div>
  </section>

  <section id='projects' class="light-theme">

    <div class="work-grid">
      <img src="images/Weatherly.png" alt="Work 4" (click)="openModal(4)" class="work-img">
      <img src="images/FlockWalk.png" alt="Work 5" (click)="openModal(5)" class="work-img">
      <img src="images/Cervicalytics.png" alt="Work 6" (click)="openModal(6)" class="work-img wide-img-2">
      <img src="images/PersonalWebsite.png" alt="Work 7" (click)="openModal(7)" class="work-img wide-img-3">
    </div>

    <h4 class="project-content">
      <span class="typing-text">In my free time, I continue to work on personal projects and have many ideas just
        waiting to be realized...</span>
    </h4>

    <!-- projects page detail -->
    <div class="modal-backdrop" *ngIf="activeModal !== null && activeModal >= 4 && activeModal <= 7"
      (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div *ngIf="activeModal === 7" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">Personal Website</h1>
          <h4 style="color: #80b85d;">Personal website demonstrating myself</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Designed and developed a dynamic personal portfolio website to highlight professional experience,
              technical skills, and UI/UX design capabilities</li>
            <li>Built the frontend using Angular, HTML5, and CSS3, ensuring responsive design and smooth user experience
              across devices</li>
            <li>Managed codebase using GitHub with structured version control</li>
          </ul>
        </div>
        <div *ngIf="activeModal === 6" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">Cervicalytics</h1>
          <h4 style="color: #80b85d;">Cervical cancer statistical prediction Model</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Developed multiple statistical models (R) that analyzed the patterns of cervical cancer using predictors
              such as smoking, pregnancy, age of first sex, blood pressure, diabetes, etc</li>
            <li>Used K-fold Cross Validation test to dynamically classify testing and training data sets to avoid
              misclassification of predictors and evaluate the predictive models</li>
            <li>Used KNN Algorithm, Decision Tree model, and Random Forest Classification on the training dataset to
              predict, estimate, and mainly classify the predictors and evaluate their significance on predicting
              cervical cancer</li>
            <li>Used a Distance Matrix to compute percentage of variation between predicted and actual values and
              visualized the results using varImpPlot and partialPlot</li>
          </ul>
        </div>
        <div *ngIf="activeModal === 5" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">Flock Walk</h1>
          <h4 style="color: #80b85d;">Safe way to walk.</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Led feature development of a cross-platform safety navigation app.</li>
            <li>Involved in requirement specification, designing, implementation, debugging and testing using Dart
              framework </li>
            <li>Optimized the app for both iOS and Android platforms using flutter as a hybrid solution </li>
            <li>Prototyped user workflows with Figma</li>
          </ul>
        </div>
        <div *ngIf="activeModal === 4" class="work-detail">
          <button class="close-btn" (click)="closeModal()">✕</button>
          <h1 style="color: #486834;">Weatherly</h1>
          <h4 style="color: #80b85d;">Weather based playlist generator</h4>
          <hr class="modal-comtent-divider">
          <ul>
            <li>Designed and implemented a weather-based music recommendation engine using Node.js and Spotify API,
              enabling dynamic playlists</li>
            <li>Built a SQL-backed Node.js API to serve weather-based song recommendations, consumed by a dynamic
              frontend with HTML, CSS, and JavaScript</li>
            <li>Utilizing external API calls from Weather API and Spotify API allows the user to have a user friendly UI
              and dynamically updates top 100 songs from Spotify based on the weather </li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section id='skills' class="light-theme">
    <div class="skills-grid">
      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-java skill-icon"></i>
        </div>
        <h1>Java, JSP</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-python skill-icon"></i>
        </div>
        <h1>Python</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-code skill-icon"></i>
        </div>
        <h1>JavaScript, HTML, CSS, Bootstrap</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-angular skill-icon"></i>
        </div>
        <h1>Angular</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-microsoft skill-icon"></i>
        </div>
        <h1>.NET</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-node-js skill-icon"></i>
        </div>
        <h1>Node.js, Express.js</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-database skill-icon"></i>
        </div>
        <h1>SQL, NoSQL</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-brands fa-aws skill-icon"></i>
        </div>
        <h1>AWS</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-r skill-icon"></i>
        </div>
        <h1>R</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-code-branch skill-icon"></i>
        </div>
        <h1>Git, GitOps, Jenkins, Kubernetes</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-dog skill-icon"></i>
        </div>
        <h1>Datadog</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fas fa-tools skill-icon"></i>
        </div>
        <h1>Apache Maven</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fas fa-exchange-alt skill-icon"></i>
        </div>
        <h1>Kaf ka</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-gear skill-icon"></i>
        </div>
        <h1>A/B Testing</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fa-solid fa-lock skill-icon"></i>
        </div>
        <h1>JSON Web Token (JWT)</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fas fa-server skill-icon"></i>
        </div>
        <h1>IBM WebSphere</h1>
      </div>

      <div class="skill-item">
        <div class="icon-circle">
          <i class="fas fa-chart-line skill-icon"></i>
        </div>
        <h1>Predictive Models</h1>
      </div>
    </div>
  </section>

  <section id='contact' class="light-theme">
    <div class="contact-form">
      <h1>Let's connect..</h1>
      <h4>Email: <span class="email-phone"> shilpakar.tsanyam&#64;gmail.com </span></h4>
      <h4>Phone: <span class="email-phone">9179757751</span></h4>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>

<footer class="site-footer">
  <p>Copyright &copy; Sanyam Shilpakar 2025</p>
</footer>